* {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", "iconfont" !important;
    list-style: none;
    text-decoration: none;
}

i {
    font-style: normal;
}

body {
    background-color: #f5f5f5;
}

img {
    width: 100%;
}

@function rem($px) {
    //$px为需要转换的大小
    @return $px / 144px * 1rem; // 108为移动端的分辨率
}

header {
    background: url("../images/space/header.png") center 0 #f37d0f;
    background-size: contain;
    padding: rem(64px) 0;
}

.user {
    .avatar {
        float: left;
        margin-left: rem(64px);
        margin-right: rem(32px);
        img {
            width: rem(192px);
        }
    }
    .name {
        height: rem(192px);
        line-height: rem(192px);
        color: #fff;
    }
}

.order {
    background-color: #fff;
    a {
        display: block;
        height: rem(160px);
        line-height: rem(160px);
        border-bottom: 1px solid rgba(0, 0, 0, .15);
        position: relative;
        .mine {
            display: inline-block;
            font-size: rem(56px);
            padding: 0 0 0 rem(64px);
            color: rgba(0, 0, 0, .87);
        }
        .all {
            // display: inline-block;
            float: right;
            font-size: rem(48px);
            color: rgba(0, 0, 0, .54);
            padding-right: rem(40px);
        }
    }
}

.nav {
    background-color: #fff;
    ul {
        padding: 0 rem(160px);
        display: flex;
        justify-content: space-between;
        li {
            a {
                text-align: center;
                padding: rem(80px) 0;
                position: relative;
                display: block;
                color: #333;
                .img {
                    width: rem(96px);
                    height: rem(96px);
                    margin: 0 auto rem(32px);
                }
            }
        }
    }
}

.items {
    margin-top: rem(30px);
    // margin-bottom: rem(30px);
    .item {
        background-color: #fff;
        height: rem(216px);
        line-height: rem(216px);
        .img {
            vertical-align: middle;
            height: rem(216px);
            font-size: 0;
            margin: 0 rem(20px) 0 0;
            img {
                width: rem(96px);
                vertical-align: middle;
                padding: 0 rem(76px);
            }
            span {
                display: inline-block;
                font-size: rem(56px);
                height: 100%;
                vertical-align: middle;
            }
            i {
                height: 100%;
                vertical-align: middle;
                float: right;
            }
        }
    }
    .line {
        width: 84%;
        height: rem(6px);
        float: right;
        background-color: #ddd;
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FFF;
    z-index: 5;
    border-top: 1px solid #e0e0e0;
    ul {
        display: flex;
        li {
            list-style: none;
            flex: 1;
            a {
                display: block;
                padding: rem(24px) 0;
            }
            .ispr {
                width: rem(80px);
                height: rem(80px);
                background-image: url("../images/index/spr1_5b2e09c.png");
                background-size: rem(80px) rem(640px);
                overflow: hidden;
                margin: 0 auto rem(16px);
            }
            .ih {
                background-position-y: rem(560px);
            }
            .ic {
                background-position-y: rem(-80px);
            }
            .is {
                background-position-y: rem(-240px);
            }
            .if {
                background-position-y: rem(-320px);
            }
            p {
                text-align: center;
                font-size: rem(44px);
                line-height: .8;
                color: #999;
            }
            .on {
                p {
                    color: #FF5722;
                }
            }
        }
    }
}